SOA/FlowActivity/SOA/Schemas/BPELProcess1.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/SOA/FlowActivity/BPELProcess1"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="A" type="string"/>
    <element name="B" type="string"/>
   </sequence>
		</complexType>
	</element>
	<element name="processResponse">
		<complexType>
			<sequence>
				<element name="add" type="string"/>
    <element name="sub" type="string"/>
    <element name="mul" type="string"/>
    <element name="devide" type="string"/>
   </sequence>
		</complexType>
	</element>
</schema>